
body {
    
}


/* разобраться с логотипом на ширину экрана*/   

.header {
    width: 800px;
    display: wrap;
    justify-content: center;
}
   

.logo {

}




.nav {
    margin: auto;
    width: 100%;
    height: 50px;
}

.nav a {
    margin: auto;
    color: black;
    text-transform:uppercase;
    text-align: center;
    padding: 0,1rem 0,1rem;
    text-decoration:  none;
}

.nav a:hover {
    border-bottom: 1.5px solid #afafaf;
}

h1 {
    text-align: center;
}

/*разобраться с отступами*/

.main {
    width: 800px;

}

.articl {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 5px 1px;
    font-weight: 100;
    width: 800px;
    margin: 500px;
}

.arthed {
    text-align: center;
    padding-top: 0.05rem;
    
}


/*Разобраться с выравниванием картинок*/
.artfig img {
    max-width: 500px;
    background-size: cover;
    border-radius: 7px 7px 7px 7px;
    margin: 15px auto 15px;
    display:block;
}

.artfig p {
    text-align:justify;
    color: #4d4d4d;
    margin: 0.5rem 0.5rem;
}

/*
.artfig button {
 
}
*/

.artfoot {
    border-top: 2px solid #afafaf;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}


