
/*
border: 5px solid #ece89d; блок
border: 2px solid #5e5373; элемент
background-color: #18b5a4; контент
*/

/* разобраться с логотипом на ширину экрана*/   

   
    .wrapper {
       border: 5px solid #ece89d; 
        background-color: #edeef0;
        min-height: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
     }

   .container {
       max-width: 800px;
       margin: 0px auto;
   }

   
   .header__logo {
       text-align: center;
   }
   


   .header__nav {
    background-color: #ffffff;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 50px;
       text-align: center;
     }
   
   .header__nav a {
       color: black;
       text-transform:uppercase;
       text-decoration:  none;
       padding-left: 1rem;
       padding-right: 1rem;
   }
   .header__nav a:hover {
       border-bottom: 1.5px solid #afafaf; 
       font-weight: bold;
   }
   
   
   .main {
       /*border: 5px solid #5e5373;*/
       flex: 1 1 auto;
       text-align: center;
   }

   h1 {
    font-weight: bold;
    font-size: x-large;
    margin: 0.5rem;
       
   }

   .main__articl {
       padding: 0.5rem;
       margin: 0.5rem;
       background: #ffffff;
       border-radius: 5px;
       box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 5px 1px;
       font-weight: 100;
       width: 750px;
       display: flex;
       flex-direction: column;
 

    }
   
   .main__articl__header {
       text-align: center;
       padding-top: 0.05rem;
       }
   
    h2 {
        font-weight: bold;
        font-size: large;
        margin: 0.2rem;
    }

   .main__articl__figure img {
       max-width: 500px;
       max-height: 300px;
       background-size: cover;
       border-radius: 7px;
       margin: 15px auto 15px;
       display:block;
   }
   
   .main__articl__description p {
       text-align: justify;
       color: #4d4d4d;
       margin: 0.5rem;
       padding: 0 0.5rem;
       line-height: 18px;
   }

   .main__articl__description button {
       float: right;
       margin-bottom: 0.5rem;
    }

   
   .main__articl__footer {
       border: 2px solid #b60155;
       width: 100%;
       border-top: 2px solid #afafaf;
       margin: 0 auto;
       padding-bottom: 0.5rem;
   }
   
   
   .footer {
       display: flex;    
       justify-content: space-between;    
       align-items: center;
       /*border: 5px solid #5e5373; */
   
   }
   
