*{
    margin: 0;
    padding: 0;
    
}

.container {
    width: 1200px;
    margin: 0 auto;
    bottom: 1px solid;
}

.header {
    padding:32px 0;
    background-color: #A69F7F;
}

.header__nav {
    display: flex;
    align-content:center;
    justify-content: center;
}

.header__link {
    color:#2F3532;

}



.header__link:hover {
    color:#5735d0;
}

.header__link:not(:last-child) {
    margin-right: 16px;
}


.main__heading {

}

.main__heading_level1{

}

.post{

}

.post__wrapper{
    margin-bottom: 16px;
    background-color: #D9D9D1;
}

.post__title{
    margin-bottom: 16px;
    padding: 8px;
    background-color: #BEBBA4;
    color: #2F3532;
}

.comment_span_author{
    color: #8D8461;
    font-size: 18px;
}

.input_f{
    padding: 9px 25px 9px 8px;
    color: #333;
    font-family: 'Roboto','Arial',sans-serif;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    line-height: 17px;
}

.label_f{
    width: 100%;
    margin-bottom: 4px;
    font-weight: 400;
    display: inline-block; 
    width: 100px; 
}


.btn, .btn:focus {
    border-radius: 3px;
    padding: 0 40px 0;
    height: 38px;
    font: bold 14px/38px 'Open Sans', sans-serif;
    color: #2F3532;
    background: #BEBBA4;
    border: 1px solid #BEBBA4;
}

.btn-primary {
    color: #2F3532;
    background-color: #8D8461;
    border-color: #8D8461;
}

.modal {
    display: none;
}

.modal_show{
    display: show;;
}

