  
/* mobile */  
  
  @media screen and (max-width: 1024px) {
	.header__right, .header__nav__item__logo {
			display:none;
		}
	
	.footer__logo, .footer__text, .footer__copyr {
			width:auto !important;
			margin:0 0 10px 10px !important;
		}

	.main {
			padding: 0 20px;
		}
	}
	

/* body */
  
	body {
		font-family: 'Roboto','Arial',sans-serif;
		font-size:13px;
	}
	
   
    .line {
		height:8px;
		background: #5b666a;
	}
	
/* header */


	.header {
		background: #404040;
		display: flex;
	}
	
	
	.header__navwrap {
		display: flex;
		width: 1024px;
		margin: 0 auto;
		padding: 8px 32px 0;
		height: 90px;
	}

	.header__nav__item__logo img{
		border:1px solid #fff;			
	}
	
	.header__nav__item__logo img:hover {
		border:1px solid #7FFFBE;
	}
	
	.header__nav__item {
		color:#fff;
		text-transform: uppercase;
		text-decoration: none;
		font-weight:bold;
		margin: 8px;
		vertical-align: middle;
	}
   
   .header__nav__item:hover{
		text-decoration: underline;
	}
	
	.header__right {
		color:#7FFFBE;
		margin: 0 0 0 auto;
		line-height:80px;
	}
	
	
/* main */

	.main {
		max-width:1024px;
		margin:0 auto;
	}


/* section */


	.section__h1 {
		line-height: 24px;
		margin: 32px 0 16px;
		font-weight: bold;
		font-size: 22px;
		color: #5b666a;
	}


	.section__article {
		margin: 0 0 8px 0;
		padding: 0 0 8px 0;
	}
	
	.section__article__h2 {
		line-height: 24px;
		margin: 16px 0;
		font-weight: bold;
		font-size: 16px;
		color: #000;
	}
	
	.section__article__h2__link {
		color: #000;
		text-decoration: none;
	}
	
	.section__article__h2__link:hover {
		text-decoration: underline;
		color: #0088A0;
	}
	
	.section__article__author {
		border:solid 1px #B5C2FF;
		padding:0px 16px;
		display:inline-block;
		border-radius:4px;		
		line-height:32px;
		margin: 0 0 16px 0;
	}
	
	.section__article__post p {
		font-size: 16px;
		line-height: 24px;
		margin: 8px 0 0 0;
	}
	
	.section__article__post p b{
		font-weight: bold;
	}
	
	.section__article__post p a {
		color: #0088A0;
		text-decoration: none;
	}
	
	.section__article__post p a:hover {
		text-decoration: underline;
	}
	
	.section__article__nextlink {
		border:solid 1px #B5C2FF;
		padding:0px 16px;
		display:inline-block;
		border-radius:4px;		
		line-height:29px;
		margin: 8px 0 16px;
		background:#fff;
		color:#0088A0;
		text-decoration: none;
	}
	
	.section__article__nextlink:hover {
		text-decoration: none;		
		background:#B5C2FF;
		color:#fff;
	}

	.section__article__footer {
		border:solid 1px #EAEAEA;
		display:flex;
		padding:0px 16px;
		border-radius:4px;		
		line-height:31px;
		margin: 0 0 16px 0;
	}
	
	.section__article__footer li {
		display: inline-flex;
		vertical-align: middle;
	}
	
	.section__article__footer li i{
		margin: 8px;
		color:#B7B7B7;
	}
	
	.section__article__footer li:first-child i {
		margin: 8px 8px 8px 0;
	}
	
	.section__article__footer a, .section__article__author__link, .section__article__author i, .section__article__comments__author a {
		color: #0088A0;
		text-decoration: none;
	}
	
	.section__article__footer a:hover, .section__article__author__link:hover, .section__article__comments__author a:hover {
		text-decoration: underline;
	}
	
	.section__article figcaption {
		display:none;
	}
	
	.section__article__blockname, .form__wrap__title {
		padding: 8px 0 8px 16px;
		border-left:4px solid #B5C2FF;
		background:#f7f7f7;
		font-size:16px;
		font-weight:500;
		margin:8px 0 16px;
	}
	
	.section__article__comments {
		margin: 0 0 16px 32px;
		background: #f2f2f2;
		padding: 8px 16px;		
	}
	
	.section__article__comments__text, .section__article__comments__author {
		font-size:14px;
		line-height: 24px;
		color:#5b666a;
		
	}
	.section__article__comments__author time {
		font-size:12px;
		color:#5b666a;
	}


/* footer */
	
	.footer {
		background: #404040;
		padding:16px 16px 8px;		
	}
	
	.footer__logo {
		width:1024px;
		margin:0 auto 8px;
	}

	.footer__text {
		width:1024px;
		margin:0 auto 8px;
		color:#cfcfcf;
		line-height: 30px;
		border-bottom:1px solid #717171;
	}
	
	.footer__copyr {
		width:1024px;
		margin:0 auto 8px;
		color:#cfcfcf;
		line-height: 30px;
	}
	
	.footer__text__list__item {
		display:inline-flex;
	}
	
	.footer__text__list__item i {
		margin: 8px 8px 8px 16px;
		color:#717171;
	}
	
	.footer__text__list__item:first-child i {
		margin: 8px 8px 8px 0;
	}
	
	.footer__logo img {
		border:1px solid #cfcfcf;
	}
	
	.footer__text a, .footer__copyr a {
		color:#cfcfcf;
		text-decoration:none;
	}
	
	.footer__text a:hover, .footer__copyr a:hover {
		text-decoration:underline;
	}
	
	
/* forms */	
	

	.form__wrap {
		padding: 8px 0;
		margin: 8px 0;		
	}
	
	.form__wrap__item {
		margin:0 0 16px 20px;
	}
	
	.form__wrap__item input[type=submit] {
		border:solid 1px #B5C2FF;
		padding:0px 16px;
		display:inline-block;
		border-radius:4px;		
		line-height:29px;
		margin: 0 0 16px 0;
		background:#fff;
	}	
	
	.form__wrap__item input[type=submit]:hover {
		background:#B5C2FF;
		color:#fff;
		cursor: pointer;
	}	
		
	.form__wrap__item label{
		width: 25%;
		display: inline-block;
		vertical-align: top;
		line-height: 28px;
		font-size:15px;
		color:#5b666a;
	}
	
	.form__wrap__item input[type=text] {
		width: 40%;
		padding: 0 8px;
		font-size: 15px;
		outline: 0;
		height: 30px;
		border: 1px solid #e5e5e5;
	}
	
	.form__wrap__item textarea {
		width: 40%;
		padding: 5px 8px;
		font-size: 15px;
		outline: 0;
		border: 1px solid #e5e5e5;
		height:200px;
	}
	
	.form__wrap__item input[type=text]:hover, .form__wrap__item textarea:hover {
		border: 1px solid #717171;
	}
	
	.form__wrap__item input[type=text]:active, .form__wrap__item input[type=text]:focus {
		border: 2px solid #717171;
		height:28px;
	}
	
	.form__wrap__item textarea:active, .form__wrap__item textarea:focus {
		border: 2px solid #717171;
		height:198px;
	}